<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_auction_root"
              name="Auction"
              sequence="1"/>

    <menuitem id="menu_property"
              name="Properties"
              parent="menu_auction_root"
              action="action_new_property"/>

    <menuitem id="menu_configuration"
              name="Configuration"
              parent="menu_auction_root"
              sequence="100"/>

    <menuitem id="menu_asset_category"
              name="Asset Category"
              parent="menu_configuration"
              action="action_asset_category"/>


    <menuitem id="menu_auction_users" name="Users" parent="menu_auction_root" action="action_auction_users"/>


</odoo>